* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background: scroll;
    background-image: url(https://www.nortonrosefulbright.com/-/media/images/nrf/iwd-2026-quotes/iwd-2026update-to-2025website-hero-banner-1920x1080-1.jpg?revision=fe102c2f-171b-4b2d-b8a0-ead8bc9983cc&revision=5250768187837387904);
    background-size: 100%;
}

#header {
    background-color: blueviolet;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 800px;
    align-items: center;
    padding: 7px 0px;

}


.header-content1 {
    font-family: serif;
    font-size: small;
    text-align: top;
    text-decoration: none;
}

.header-content2 {
    font-family: serif;
    font-size: small;
    text-align: top;
    text-decoration: none;
}

.header-content3 {
    font-family: serif;
    font-size: small;
    text-align: top;
    text-decoration: none;
}

.header-content1>h1>a {
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;
}

.header-content2>h1>a {
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;
}

.header-content3>h1>a {
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;
}

.header-content4>h1>a {
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;
}

.About-me-wrapper {
    padding: 20px;
    align-items: center;


}

.Introduction {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    margin: auto;
}

.Edu-lv {
    font-family: "Felipa", serif;
    font-size: 2rem;
}